.home-container {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 300px; */
  /* grid-template-rows: auto auto; */
  grid-auto-rows: minmax(100px, auto);
  align-content: end;
  /* justify-items: center; */

  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
  /* grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"; */
}

.home-text {
  background-color: grey;
  padding: 20px;
  /* use the start end grid column system */
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: span 2;
  /* height: 100px; */
}
/* Ensuring that the background image takes up the whole div
and retains its aspect ratio */
.item-1,
.item-2,
.item-3,
.item-4 {
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.item-1 {
  grid-row: span 2;
  background-image: url("./tolbohina guitar session.jpg");
}

.item-2 {
  grid-row: span 3;
  /* align-self: self-start; */
  background-image: url("./moleNatinalPark.jpg");
}
.item-3 {
  grid-row: span 3;
  background-image: url("./chris chilling2.jpg");
}
.item-4 {
  grid-row: span 2;
  background-image: url("./odessa morning sunrise.jpg");
}

@media (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .item-1 {
    grid-row: span 1;
  }
  .item-2,
  .item-3 {
    grid-row: 2;
  }
  .item-4 {
    grid-row: span 1;
  }
}
