.header-container {
  display: flex;
  position: relative;
  /* Background image is used to fill up the div */
  background-image: url("/moleNatinalPark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.header-container-text {
  position: absolute;
  left: 45%;
  bottom: 60%;
}
.header-container-nav {
  display: flex;
  gap: 30px;

  position: absolute;
  right: 5%;
}

.nav-link li {
  color: white;
  list-style-type: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  .header-container-text {
    left: 35%;
    bottom: 55%;
  }
  .header-container-nav {
    gap: 10px;
    bottom: 5%;
  }
  .header-container-nav li {
    color: white;
  }
}
